<html>
<head>
<title>Welcome To Yelp</title>
<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
  			<div class="app-header simple-header">
    		<div class="header-container clearfix">
        			<h1 class="logo">
        			<a href="/" action="GET">Yelp</a>
    				</h1>     		
         		</div>
         	</div>

</body>
</head>