<html>
<head>
<title>Welcome To Yelp</title>
<link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    
</head>
<body>
	<div class="app-header">
		<div class="header-container">
			<div class="header-account webview-hidden">
				<ul class="logged-out-nav">
					<li><a href="signUp" action="GET" id="header-sign-up"
						class="ybtn ybtn-primary header-button sign-up">Sign Up</a></li>
					<li class="text-centered"><a class="log-in" href="signIn"
						action="GET"> Sign In </a></li>
			</div>
		</div>
	</div>
</body>
</html>